body{
    background-color: rgb(104, 141, 132);
}
a{
border-block: solid;
text-align: center;
background-color: aliceblue;
padding: 15px;
margin: 15px;;
border-top-style: hidden;
border-left-style: double;
animation: ping 1s cubic-bezier(0,0,0.2) infinite;
animation-play-state: running;

}
a:hover{
    animation: backwards;
    background-color: black;
    cursor: pointer;
}

ul{
    text-align: left;
    padding-top:2%;
    border-bottom: 10cap;
    background-color: rgb(248, 6, 6);
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    animation-play-state: running;


}

ul:hover{
    border:ridge;
}
h1{
    text-align: center;
    text-underline-offset: 4px;
    padding: 10%;
    border-block: 2px solid;
    background: repeat-y;
    border-radius: 30%;
    border-style: ridge;


}
h1:hover{
    background-image:url(p.jpg);

    animation:spin 2s linear infinite;
    padding-top: 5%;
}
img{
    border-block: 5px solid;    
    width: auto;
    border-style: outset;
    border-radius: 60px ;
    border-left:hidden;
}

.container {
    display: flex; 
    justify-content: space-between; 
  }
  
  .rigth-text {
    order: 2; 
  }
  
  .left-text {
    order: 1;
    -ms-text-kashida-space: 5%;
  }
  li{
     border-style: outset;
    background-color: aliceblue;
  }

.lien{
    text-decoration: none;
    padding: 8px 16px;
    color:brown;
}
.actif{
    font-weight: bold;
    background-color: aquamarine;
}
ul:hover{
    background-color: blue;
    border-style: outset;

}
hgroup{
    height: 500px;
    width: 500px;
    font-size:x-large;
}
h2{
border-bottom: 2px solid;
border-style: outset;
text-underline-position: below;
}
p{
    text-decoration-color: green ;
}
hgroup{
    text-transform: capitalize;
    position: relative;
    text-justify: distribute-all-lines;

}
.conteneur{
    display: flex;
    justify-content: space-between;
}
.paragraphe-left{
    align:left;
}
.paragraphe-right{
    align:right;
}
.paragraphe-center{
    align:center
}
p{
    height: 100px;
    text-align: none;
    font-size:large;
}
h2{
    text-align: center;
    border-top-right-radius: 20px ;
    border-bottom: hidden;

}
h4{
    margin-left: 2%;
    margin:2%;
    text-decoration: unset;
    font-size:larger;
}
h3{
    text-align: center;
}
h6{
    text-align: center;
}
.rebond{
   
    color:blue;
    transform: scale(1.1);
    animation: backwards;
}
.rebond:hover{
    color: black;
    text-decoration: underline;
    animation-delay: unset;
}
.auteur{
    padding: 5px;
    text-align: center;
    font-size: x-small;
    text-decoration: antiquewhite;
    color:green;
}
@media (max-width:1500px) {
    .conteneurr{
        width: 90%;

    }
    
}


@media (max-width:1400px) {
    .conteneur{
        width: 90%;
        
    }
    
}

@media (max-width:768px) {
    .conteneur{
        width: 90%;
        
    }
    
}